.admin-page{
    overflow-y: auto;
}

.features-section {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    width: 24%;
    margin-right: 60px;
    font-size: 1.3vw;
}

.logs-section{
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    width: 52%;
    max-width: 650px;
    font-size: 1.15vw;
    overflow-y: auto;
    height: 450px;

}

.admin-page-section{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    justify-content: center;
}

h1{
    text-align: center;
    font-size: 70px;
    color: #6e4141;
    margin: 40px;
}