.profile-page{
    overflow-y: auto;
    padding: 20px;
    border: 1px;
    border-radius: 10px;
    margin: 2vw;
    box-shadow: 0 10px 35px 0 rgba(9, 30, 27, 0.15);
    background-color: #fff;
}
h2{
    text-align: center;
    font-size: 70px;
    color: #6e4141;
    padding-right: 10px;
}
.profile-headline{
    display: inline-flex;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    font-size: larger;
}

.profile-info{
    font-size: larger;
    width: 380px;
    color: #6e4141;
    padding: 12px;
    border: 1px;
    border-radius: 10px;
    margin: 1.5vw;
    box-shadow: 0 10px 20px 0 rgba(9, 30, 27, 0.15);
    background-color: #fff;
}

.profile-content{
    display: inline-flex;
}

button:hover {
    background: #c5bcbc;
    color: #222222;
}

.edit-button{
    width:50px;
    height: 30px;
    border: 1px;
    background: #FDFDFD;
    color: #6e4141;
    box-shadow: 0 1px 4px 0 rgba(9, 30, 27, 0.15);
    padding: 0.3em 0.5em;
    margin-right: 7px;
    font-size: 17px;
}

.edit-button-container{
    display: flex;
    justify-content: flex-end;
}

.save-cancel-buttons-container{
    display: inline-flex;
}

.save-cancel-buttons-profile{
    width:72px;
    height: 30px;
    border: 1px;
    background: #FDFDFD;
    border-radius: 5px;
    color: #6e4141;
    box-shadow: 0 1px 4px 0 rgba(9, 30, 27, 0.15);
    padding: 0.3em 0.5em;
    margin: 10px;
    font-size: 17px;
}

.edit-input {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}
