.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b7a1a1;
  color: var(--text-color-on-secondary);
  overflow-y: auto;
  overflow-x: hidden;
  width: 369px;
  padding-top: 20px;
}

.logo{
  width: 200px;
  height: 150px;
}

.tokens-container {
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1.5em 0 1.5em 0;
}


.sidebar-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: ghostwhite;
  padding: 18px 24px 18px 24px;
  justify-content: start;
  border-radius: 0;
  height: 24px;
  width: -webkit-fill-available;
  font-size: 1.1vw;
}

.sidebar-button.campaign {
  padding-left: 74px;
  padding-right: 74px;
  width: 170px;
}


.sidebar-button:hover,.sidebar-button[data-selected=true]  {
  background-color: var(--background-strong-05);
}

.sidebar-button > .icon {
  margin-right: 15px;
  margin-left: 15px;
  width: 16px;
}

.logout-btn{
  background: #6e4141;
  border-radius: 10px;
  color: #FCFCFC;
  box-shadow: 0 20px 35px 0 rgba(7, 94, 84,0.15);
  padding: 0.2em 0.5em;
  font-size: var(--step-1);
  display: inline-block;
  margin: 20px;
}

.logout-btn:hover {
  background: #c5bcbc;
  color: #222222;
}